<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature.catalog">

    <application>
        <activity
            android:name=".draggablebox.DraggableBoxActivity"
            android:exported="false" />
        <activity
            android:name=".score.ScoreBoardActivity"
            android:exported="false" />
        <activity
            android:name=".threadscard.ThreadsCardActivity"
            android:exported="false" />
        <activity
            android:name=".canvas.CanvasActivity"
            android:exported="false" />
        <activity
            android:name=".spotlight.SpotLightActivity"
            android:exported="false" />
    </application>

</manifest>