<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature.museum">

    <application>
        <activity
            android:name=".draggablebox.DraggableBoxActivity"
            android:exported="false" />
        <activity
            android:name=".score.ScoreBoardActivity"
            android:exported="false" />
        <activity
            android:name=".threadscard.ThreadsCardActivity"
            android:exported="false" />
        <activity
            android:name=".canvas.CanvasActivity"
            android:exported="false" />
        <activity
            android:name=".spotlight.SpotLightActivity"
            android:exported="false" />
        <activity
            android:name=".share.ShareActivity"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <!-- 暗黙的Intent  複数の画像を受け取りたい -->
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <!-- 暗黙的Intent これがないと共有シートに表示されない -->
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.sender.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".autoscroll.AutoScrollActivity"
            android:exported="false" />
        <activity
            android:name=".circularprogressbar.CircularProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".bankcard.BankCardActivity"
            android:exported="false" />
        <activity
            android:name=".animicons.AnimIconsActivity"
            android:exported="false" />
        <activity
            android:name=".remember.RememberActivity"
            android:exported="false" />
        <activity
            android:name=".remember.DataClassActivity"
            android:exported="false" />
        <activity
            android:name=".animtextchatgpt.AnimTextChatGPTActivity"
            android:exported="false" />
        <activity
            android:name=".scrollspacer.ScrollSpacerActivity"
            android:exported="false" />
        <activity
            android:name=".pip.PictureInPictureActivity"
            android:exported="false"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".coroutinetimer.CoroutineTimerActivity"
            android:exported="false" />
    </application>

</manifest>