<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature.museum">

    <application>
        <activity
            android:name="com.example.feature.museum.draggablebox.DraggableBoxActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.museum.score.ScoreBoardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.museum.threadscard.ThreadsCardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.museum.canvas.CanvasActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.museum.spotlight.SpotLightActivity"
            android:exported="false" />
    </application>

</manifest>